header {
  height: 30px; /* Hauteur de la barre de progression */
  width: 100%;
  z-index: 2;
  display: flex;
  position: relative;
}

#progression {
  display: flex;
  justify-content: center;
  width: 100%;
}

#progression div {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 100%;
  margin: 2vh 5vh;
}

#progression .false {
  background-color: #3fc795;
}

#compteur {
  position: fixed;
  z-index: 2;
  left: 2;
  top: 10;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.gekko {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Assure que l'image Pogo est au-dessus de l'image de fond */
}

footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fond semi-transparent pour le pied de page */
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.footer-item {
  width: 20%;
  border: solid 1px black;
  box-shadow: 0px 0px 5px black;
  height: 130px;
  background-color: #3a3e3f;
  margin: 0 10px; /* Ajoutez ici les styles des éléments de votre pied de page */
  display: flex;
  justify-content: space-between; /* Pour empiler les éléments verticalement */
  align-items: flex-start;
}

.footer-item:hover {
  background-color: #3fc795; /* Fond vert au survol */
}
.footer-item:active {
  /* box-shadow: 0px 0px 0px; */
  border: 0px;
}

.footer-container .true {
  background-color: #3fc795; /* Fond vert au survol */
}

.imgGhost {
  width: 140px;
  height: auto;
}
.imgSpectre {
  width: 186px;
  height: auto;
}
.imgVandal {
  width: 170px;
  height: auto;
}
.imgOdin {
  width: 168px;
  height: auto;
}
.imgValoPoint {
  width: 25px;
  height: auto;
}
p {
  font-weight: bold;
}
.footer-item .left-column {
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  align-items: flex-start; /* Pour aligner les éléments à gauche */
}

.footer-item .right-column {
  display: flex;
  align-items: center; /* Pour aligner l'image verticalement */
}

.line_clicpoints {
  display: flex;
  align-items: center;
}

#compteur {
  color: red;
  font-size: 100px;
  padding-left: 50px;
}

.left-column {
  padding-left: 10px;
}

.power {
  font-style: italic;
  margin: 0;
  padding: 0px;
  font-size: 0.8em;
}

p {
  margin: 3px;
  padding: 0;
}

#sova {
  position: fixed;
  display: none;
  z-index: 2;
  bottom: 0;
}

.accueil {
  width: 100%;
  height: 100%;
}
.image-container {
  height: 100%;
  width: 100%;
  position: relative; /* Définir la position relative pour que les éléments internes soient positionnés par rapport à ce conteneur */
  display: inline-block; /* Permet de conserver la taille du conteneur selon le contenu */
}

#selectButton {
  font-weight: bold;
  padding: 15px 35px;
  color: white;
  background-color: #3fc795;
  position: absolute; /* Positionner le bouton de manière absolue */
  top: 67%; /* Déplacer le bouton à 50% de la hauteur du conteneur */
  left: 50%; /* Déplacer le bouton à 50% de la largeur du conteneur */
  transform: translate(
    -50%,
    -50%
  ); /* Centrer le bouton par rapport au centre du conteneur */
}
